################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/class_quiz_content/.vs/class_quiz_content
/class_quiz_answer/.vs/class_quiz_answer
/inheritance_quiz_content_and_runner/.vs/inheritance_quiz_content_and_runner
